<h2>Course title: Introduction to Scientific Data Informatics</h2>
<h3>Instructor: <a href="http://www.ischool.utexas.edu/people/person_details.php?PersonID=130">William L. Anderson</a></h3>
<h4>Course Meeting Times</h4>
<p>Thursdays, 12 Noon - 3 PM, UTA 1.212</p>
<h4>Course Description</h4>
<p>Introduction to Scientific Data Informatics: in which we examine the information properties of scientific data, develop criteria to appraise some properties of scientific data sets, take an expedition into the Semantic Web and the growing network of Linked Data, examine issues of long-term management of, and access to, scientific data, and endeavor to write a semantically marked up and enhanced term paper about what we learn.</p>
<p>In addition, this term includes hands-on experience with several data science tools and informatics exercises using R Libraries.</p>
<p>The teaching and learning philosophy of this course takes a cue from Carl R. Rogers thoughts on the <a href="http://www.panarchy.org/rogers/learning.html">"Freedom to Learn"</a>.</p>
<table>
<tbody>
<tr>
<td>Email:</td>
<td><a href="mailto:band@austin.utexas.edu">band@austin.utexas.edu</a></td>
</tr>
<tr>
<td>Office Hours:</td>
<td>By appointment.</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>The Spring 2015 schedule of readings and assignments is found <a href="/courses/1131276/assignments/syllabus">here</a>. The readings and assignments will be updated over the next month. Expect changes.</p>
<p>A 2014-12-09 version of a topic map for the Spring 2015 course is represented by this image:</p>
<p>&nbsp;</p>
<p>&nbsp;<img src="/courses/1131276/files/35523149/preview?verifier=NSDsAgNhMfzxCTjVrbfJ6Zgg4MGTUHpgJJhFPpET" alt="dataSciInfoCourse-v15.png" /></p>
